.logo {
  height: 80px;
  width: 80px;
  background-color: white;
  object-fit: cover;
}
.logo-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.service-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.service-details p {
  padding: 10px 0;
  margin: 0;
  font-size: 14px;
  color: #555;
}

.more-btn {
  background: none;
  border: none;
  color: #ff6600;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.more-btn:hover {
  color: #cc5500;
}
